<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!-- Content Wrapper. Contains page content -->
<div th:fragment="pagination">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="content" id="salesSlip">
                <!-- 查询、添加、批量删除、导出、刷新 -->
                <div class="row-fluid">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm" id="btn-add">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                         <!--   <button type="button" class="btn btn-primary btn-sm" id="btn-delAll">
                                <i class="fa fa-remove"></i> 删除
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="btn-export">
                                <i class="fa fa-sign-in"></i> 导出
                            </button>-->
                            <button type="button" class="btn btn-primary btn-sm" id="btn-re">
                                <i class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                    </div>

                    <!--<div class="row">
                        <form id="queryForm" action="" method="post">
                            <div class="col-xs-2">
                                <input type="text" id="keyword" name="keyword" class="form-control input-sm"
                                       placeholder="搜索"/>
                            </div>
                            <button type="button" class="btn btn-primary btn-sm" id="btn-query">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </form>
                    </div>-->
                </div>

                <!--表格-->
                <table id="dataTable" class="table table-striped table-bordered table-hover table-condensed" align="center">
                    <thead>
                    <tr class="info">
                        <!--<td><input type="checkbox" id="checkAll"></td>-->
                        <th></th>
                        <th>序号</th>
                        <th>单号</th>
                        <th>销售</th>
                        <th>客户</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="modal fade in" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only"></span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">信息修改</h4>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal"  id="editForm" action="" method="post">
                                    <input type="hidden" class="form-control" name="id">
                                    <div class="form-group">
                                        <label for="code" class="col-sm-3 control-label">编号</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="code" id="code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">销售</label>
                                        <select class="form-control" id="userSelect" name="userId">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">客户</label>
                                        <select class="form-control" id="customerSelect"  name="customerId">
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!-- modal-body END -->

                            <div class="modal-footer">
                                <button type="submit" id="btn-submit" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" id="salesSlipDetail" style="display:none;">
                <input hidden id="salesSlipId" />
                <div class="pull-left">
                    <button id="btn-back" >返回</button>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" id="detail-btn-add">
                            <i class="fa fa-plus"></i> 添加
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="detail-btn-re">
                            <i class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                </div>
                <table id="detailDataTable" class="table table-striped table-bordered table-hover table-condensed" align="center">
                    <thead>
                    <tr class="info">
                        <!--<td><input type="checkbox" id="checkAll"></td>-->
                        <th></th>
                        <th>序号</th>
                        <th>课程</th>
                        <th>单价</th>
                        <th>次数</th>
                        <th>提成比例</th>
                        <th>提成</th>
                        <th>结算时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="modal fade in" id="detailEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" >
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only"></span>
                                </button>
                                <h4 class="modal-title" id="editModalLabel">信息修改</h4>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal"  id="detailEditForm" action="" method="post">
                                    <input type="hidden" class="form-control" name="id">
                                    <input type="hidden" class="form-control" name="salesSlipId">
                                    <div class="form-group">
                                        <label for="productSelect" class="col-sm-3 control-label">课程</label>
                                        <select class="form-control" id="productSelect" name="productId">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="num" class="col-sm-3 control-label">次数</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" name="num" id="num">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="price" class="col-sm-3 control-label">单价</label>
                                        <div class="col-sm-9">
                                            <input readonly type="number" class="form-control" name="price" id="price">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="percentage" class="col-sm-3 control-label">提成比例</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" name="percentage" id="percentage">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="commission" class="col-sm-3 control-label">佣金</label>
                                        <div class="col-sm-9">
                                            <input readonly type="number" class="form-control" name="commission" id="commission">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cutoffTime" class="col-sm-3 control-label">结算时间</label>
                                        <div class="col-sm-9">
                                            <input  type="date" class="form-control"  name="cutoffTime" id="cutoffTime"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- modal-body END -->

                            <div class="modal-footer">
                                <button type="submit" id="detail-btn-submit" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>