<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>管理后台</title>

    <link rel="stylesheet" href="/manager/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/manager/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/manager/bootstrap/css/bootstrap.min.css">

    <script src="/manager/plugins/jquery/jquery.min.js"></script>
    <script src="/manager/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/manager/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="/manager/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/manager/js/common/utils.js"></script>

    <script src="/manager/adminlte/js/adminlte.min.js"></script>
    <script th:each="cssPath,status:${jsPaths}" th:src="@{${cssPath}}"></script>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="/manager/adminlte/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">[[${userName}]]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="/manager/adminlte/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    [[${userName}]]
                                    <small>管理员</small>
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/manager/pc/userInfo" class="btn btn-default btn-flat">个人详情</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/manager/logout" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="/manager/img/logo.png" alt="Logo" class="img-circle elevation-3"
                 style="margin-left: .8rem;margin-right: .5rem;margin-top: -3px;max-height: 33px;width: auto">
            <span class="brand-text font-weight-light">思铎计划</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/manager/adminlte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="/manager/pc/index" class="nav-link active">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                首页
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/manager/pc/userInfo" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                个人信息
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                系统管理
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>设置</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/manager/pc/userManage" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>用户管理</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                客户
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/manager/pc/customerManage" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>客户管理</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                产品
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/manager/pc/productManage" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>产品管理</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/manager/pc/salesSlip" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                销售单
                                <!--<span class="right badge badge-danger">New</span>-->
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" th:include="${contentPage}::pagination">

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 <a href="http://www.thinkers-tech.com">thinkers-tech</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

</body>
</html>

