<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handsome.manager.mapper.SalesSlipMapper">

    <resultMap type="com.handsome.manager.ao.SalesSlipAO" id="SalesSlipMap">
        <!-- property值为实体类属性，column值为数据库表字段 -->
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="customerId" column="customer"/>
        <result property="customerName" column="customer_name"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getSalesSlips" resultMap="SalesSlipMap">
        select ss.*, u.name as user_name, c.name as customer_name from (
        select * from sales_slip where status=1
        ) ss
        left join user u on (u.id=ss.user_id)
        left join customer c on (c.id=ss.customer_id)
        limit #{begin}, #{length}
    </select>

</mapper>
