<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handsome.manager.mapper.UserMapper">
    <resultMap type="com.handsome.manager.model.User" id="UserMap">
        <!-- property值为实体类属性，column值为数据库表字段 -->
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <select id="getCustomerData" resultMap="UserMap">
        select * from user where id=#{id}
    </select>

    <select id="getUsers" resultType="com.handsome.manager.ao.UserAO">
        select u.id, u.name, u.phone, a.account, a.type from user u left join account a on (a.user_id=u.id)
        where u.status=1;
    </select>

    <select id="select" resultType="com.handsome.manager.ao.SelectAO">
        select id as value, name as text from user;
    </select>
</mapper>
